<?php
    # refresh after 60s //60000ms
    $autoRefreshRate = 60000;
    # close screen
    $auto_close = true;
    $start_h = 6; $start_m = 30;
    $end_h = 0; $end_m = 30;
    # get weather from a webpage
    $weatherUrl = 'http://tianqi.moji.com/weather/china/hunan/tianxin-district';
    # get to-do list
    $listTitle = '还没干的';
    $list_id = '';
    $x_access_token = '';
    $x_client_id = '';
?>